fastapi[standard]==0.115.12
aiohttp==3.11.9
pydantic==2.11.3
pydantic-settings==2.8.1
nest_asyncio==1.6.0
fastapi-profiler==1.4.1
semantic-kernel[azure,realtime]==1.30.0
requests==2.32.3
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation-fastapi==0.50b0
pyyaml==6.0.2
azure-monitor-opentelemetry-exporter==1.0.0b36
azure-identity==1.20.0
azure-core-tracing-opentelemetry==1.0.0b11
azure-monitor-opentelemetry==1.6.5
python-multipart==0.0.20